.main-banner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  border-radius: 24px;
}

.main-banner__preview {
  width: 100%;
  height: auto;
  object-fit: cover;
  -o-object-fit: cover;
  border-radius: 24px;
}

.main-banner .button-main {
  position: absolute;
  bottom: 50px;
  left: 50px;
  width: 180px;
  height: 55px;
}

.cas-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 12px;
  -moz-column-gap: 12px;
  column-gap: 12px;
  margin-top: 20px;
  overflow-y: hidden;
  overflow-x: auto;
  list-style: none;
  padding-bottom: 15px;
}

.cas-list::-webkit-scrollbar {
  width: 7px;
  height: 10px;
}

.cas-list::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: var(--main-color);
}

.cas-list::-webkit-scrollbar-track {
  background: 0 0;
}

.cas-list li {
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.cas-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 9px;
  -moz-column-gap: 9px;
  column-gap: 9px;
  height: 31px;
  padding: 5px 10px;
  border-radius: 40px;
  border: 1px solid var(--main-color);
  font-size: 16px;
  font-weight: 700;
  color: var(--text-color);
  text-decoration: none;
  text-transform: uppercase;
}

.cas-list .icon {
  width: 20px;
  height: 20px;
}

@media (max-width: 767px) {
  .main-banner__preview {
    border-radius: 16px;
  }

  .main-banner .button-main {
    bottom: 10px;
    left: 10px;
    width: fit-content;
    height: 35px;
  }

  .cas-list {
    display: none;
  }
}
